p,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
p {
  font-size: 12px;
}
.App {
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  background-color: #000000;
}
.alert {
  font-size: 12px;
  background-color: rgba(85, 7, 100, 0.466);
  color: rgb(209, 120, 37);
  padding: 10px;
  font-weight: bold;
}
.FadeIn {
  animation: FadeIn 1s linear;
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
